* {
	/* resets */
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: none;
}

:root {
	/* COLORS */
	--primaryAccentColor: hsl(150, 85%, 64%);
	--mutedPrimaryAccentColor: hsl(150, 75%, 55%);
	--darkPrimaryAccentColor: hsl(150, 100%, 26%);
	--alternativeAccentColor: hsl(187, 90%, 50%);
	--glowAlternativeAccentColor: hsl(187, 83%, 50%);

	--backgroundColor: hsl(0, 0%, 100%);
	--l1: hsl(0, 0%, 30%);
	--l2: hsl(0, 0%, 50%);
	--l3: hsl(0, 0%, 85%);
	--l4: hsl(0, 0%, 95%);
	--foregroundColor: hsl(0, 0%, 0%);

	--glassColor: #F3F3F399;
	/*! --glassColor: #b3b3b382; */ /* darker maybe also viable */
	--glassBlurradius: 40px;

	--linkedInColor: #0a66c2;

	/* PADDINGS */
	--paddingUnit: 30px;
	--smallPad: calc(var(--paddingUnit) / 2);
	--normalPadding: calc(var(--paddingUnit) * 2);
	--normalResponsivePadding: 5%;
	--bigPadding: calc(var(--paddingUnit) * 3);
	--site-padding: var(--normalPadding);

	/* NAV */
	--nav-content-height: 43px;
	--nav-height: 70px;

	/* FONTS */
	--normalFont: Helvetica Neue, Helvetica, sans-serif;
	--normalFontSize: 20px;
	--largerFontSize: 32px;

	/* Values */
	--borderRadius: 7px;
	--borderRadiusBig: calc(var(--borderRadius) * 6);
	--borderRadiusBigResponsive: min(8vw, var(--borderRadiusBig));

	--grid-gap: 15px;

	--breakPointToVertical: 730px;


	/* TRANSITIONS */
	--liquid: cubic-bezier(.39,.26,.15,.86);
	--liquidDuration: 0.7s;

	--snappy: cubic-bezier(.63,.41,1,.71);
	--snappyDuration: 0.3s;


	/* DEFAULT GRID for FULL width
		display: grid;
		1space 12 columns 1space
		display: grid;
	column-gap: var(--grid-gap);
	grid-template-columns: calc(var(--site-padding) - var(--grid-gap)) 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr calc(var(--site-padding) - var(--grid-gap));
	 */

	line-height: 1em;

	background-color: var(--backgroundColor);
	color: var(--foregroundColor);

	font-size: var(--normalFontSize);
	font-family: var(--normalFont);
}

@media screen and (max-width: 730px) {
	:root {
		--normalFontSize: 16px;
		--largerFontSize: 28px;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--glassColor: #1a1a1acc;
		--primaryColor: hsl(187, 90%, 40%);

		--primaryAccentColor: hsl(150, 85%, 64%);
		--mutedPrimaryAccentColor: hsl(150, 76%, 77%);
		--alternativeAccentColor: hsl(187, 90%, 50%);
		--glowAlternativeAccentColor: hsl(187, 83%, 50%);

		--backgroundColor: #000;
		--l1: hsl(0, 0%, 95%);
		--l2: hsl(0, 0%, 65%);
		--l3: hsl(0, 0%, 45%);
		--l4: hsl(0, 0%, 30%);
		--foregroundColor: #fff;
	}
}

div.Placeholder {
	border: 1px solid black;
	background-color: gray;
}

a {
	text-decoration-line: none;
	color: unset;
}

.navPad>div {
	flex: 1;
}

.pulsingShadow {
	animation: pulsingShadow 4s var(--liquid) infinite;
}

@keyframes pulsingShadow {
	from {
		box-shadow: hsl(from var(--foregroundColor) h s l / 0.33) 0px 0px 45px 0px;
	}
	50% {
		box-shadow: hsl(from var(--foregroundColor) h s l / 0.6) 0px 0px 45px 0px;
	}
	to {
		box-shadow: hsl(from var(--foregroundColor) h s l / 0.33) 0px 0px 45px 0px;
	}
}