.bold {
	font-weight: bold;
}

.primaryAccent {
	color: var(--primaryAccentColor);
}
.hvPrimaryAccent:hover {
	color: var(--primaryAccentColor);
}

.mutedPrimaryAccent {
	color: var(--mutedPrimaryAccentColor);
}

.hvMutedPrimaryAccent:hover {
	color: var(--mutedPrimaryAccentColor);
}

.darkPrimaryAccent {
	color: var(--darkPrimaryAccentColor)
}

.foreground {
	color: var(--foregroundColor);
}

.underline {
	text-decoration: underline solid 1.8px;
	text-decoration-skip-ink: none;
}

.bg-fg {
	background-color: var(--foregroundColor);
}
.bg-l1 {
	background-color: var(--l1);
}
.fg-l1 {
	color: var(--l1);
}

.bg-l2 {
	background-color: var(--l2);
}
.fg-l2 {
	color: var(--l2);
}
.hover-fg-l2:hover {
	color: var(--l2);
}

.bg-l3 {
	background-color: var(--l3);
}
.fg-l3 {
	color: var(--l3);
}
.hover-fg-l3:hover {
	color: var(--l3);
}

.bg-l4 {
	background-color: var(--l4);
}
.fg-l4 {
	color: var(--l4);
}
.bg-d4-fixed {
	background-color: var(--dark-l4);
}

.vCenter {
	align-self: center;
}

.vBottom {
	/*! display: inline-flex; */
	/*! flex-direction: column; */
	/*! justify-content: end; */
	align-content: end;
}
.layoutVBottom {
	align-content: end;
	align-items: end;
}

.hCenter {
	justify-self: center;
}
.hRight {
	justify-self: right;
}

.layoutHCenter {
	justify-items: center;
	justify-content: center;
}

.vBigPad {
	padding-top: var(--bigPadding);
	padding-bottom: var(--bigPadding);
}
.tBigPad {
	padding-top: var(--bigPadding);
}
.bBigPad {
	padding-bottom: var(--bigPadding);
}
.hBigPad {
	padding-left: var(--bigPadding);
	padding-right: var(--bigPadding);
}
.lBigPad {
	padding-left: var(--bigPadding);
}
.rBigPad {
	padding-right: var(--bigPadding);
}

.vPad {
	padding-top: var(--normalPadding);
	padding-bottom: var(--normalPadding);
}
.tPad {
	padding-top: var(--normalPadding);
}
.bPad {
	padding-bottom: var(--normalPadding);
}

.hPad {
	padding-left: var(--normalPadding);
	padding-right: var(--normalPadding);
}
.lPad {
	padding-left: var(--normalPadding);
}
.rPad {
	padding-right: var(--normalPadding);
}
.Pad {
	padding: var(--normalPadding);
}


.vUnitPad {
	padding-top: var(--paddingUnit);
	padding-bottom: var(--paddingUnit);
}
.tUnitPad {
	padding-top: var(--paddingUnit);
}
.bUnitPad {
	padding-bottom: var(--paddingUnit);
}
.hUnitPad {
	padding-left: var(--paddingUnit);
	padding-right: var(--paddingUnit);
}
.rUnitPad {
	padding-right: var(--paddingUnit);
}

.v10Pad {
	padding-top: 10px;
	padding-bottom: 10px;
}

.vAltPad {
	padding-top: calc(var(--paddingUnit) * 2.5);
	padding-bottom: calc(var(--paddingUnit) * 2.5);
}
.tAltMarg {
	margin-top: calc(var(--paddingUnit) * 2.5);
}
.vAltMarg {
	margin-top: calc(var(--paddingUnit) * 2.5);
	margin-bottom: calc(var(--paddingUnit) * 2.5);
}

.MargResp {
	margin: var(--normalResponsivePadding);
}

.navPad {
	padding-top: var(--nav-height);
}

.s0 {
	grid-column-start: 1;
}

.s1 {
	grid-column-start: 2;
}

.s2 {
	grid-column-start: 3;
}

.s3 {
	grid-column-start: 4;
}

.s4 {
	grid-column-start: 5;
}

.s5 {
	grid-column-start: 6;
}

.s6 {
	grid-column-start: 7;
}

.s7 {
	grid-column-start: 8;
}

.s8 {
	grid-column-start: 9;
}

.s9 {
	grid-column-start: 10;
}

.s10 {
	grid-column-start: 11;
}

.s11 {
	grid-column-start: 12;
}

.s12 {
	grid-column-start: 13;
}

.s13 {
	grid-column-start: 14;
}

.e0 {
	grid-column-end: 2;
}

.e1 {
	grid-column-end: 3;
}

.e2 {
	grid-column-end: 4;
}

.e3 {
	grid-column-end: 5;
}

.e4 {
	grid-column-end: 6;
}

.e5 {
	grid-column-end: 7;
}

.e6 {
	grid-column-end: 8;
}

.e7 {
	grid-column-end: 9;
}

.e8 {
	grid-column-end: 10;
}

.e9 {
	grid-column-end: 11;
}

.e10 {
	grid-column-end: 12;
}

.e11 {
	grid-column-end: 13;
}

.e12 {
	grid-column-end: 14;
}

.e13 {
	grid-column-end: 15;
}

.vFill {
	height: 100%;
}

.hShrink {
	width: fit-content;
}

.hFill {
	width: 100%;
}

.vSpaceing {
	display: flex;
	flex-direction: column;
	/*! grid-template-rows: 1fr 1fr 1fr; */

	justify-content: space-between;
}

.light {
	font-weight: 200;
}

.regular {
	font-weight: normal;
}

.bold {
	font-weight: 600;
}

.noMargin {
	margin-bottom: 0;
}

.hGrid {
	display: grid;
	column-gap: var(--grid-gap);
	/* 1space 12 columns 1space */
	grid-template-columns: calc(var(--site-padding) - var(--grid-gap)) 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr calc(var(--site-padding) - var(--grid-gap));
}

.il-grid {
	display: inline-grid;
}

.il-flex {
	display: inline-flex;
}

.flex {
	display: flex;
}
.vflex {
	display: flex;
	flex-direction: column;
}
.v100 {
	height: 100vh;
}
.minV100{
	min-height: 100vh;
}

.rGap {
	padding-right: var(--grid-gap);
}

.vhGrid {
	display: grid;
	grid-template-columns: calc(var(--site-padding) - var(--grid-gap)) 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr calc(var(--site-padding) - var(--grid-gap));
	grid-auto-rows: auto;
}

.tlRound {
	border-top-left-radius: var(--borderRadius);
}
.trRound {
	border-top-right-radius: var(--borderRadius);
}
.blRound {
	border-bottom-left-radius: var(--borderRadius);
}
.brRound {
	border-bottom-right-radius: var(--borderRadius);
}
.lRound {
	border-top-left-radius: var(--borderRadius);
	border-bottom-left-radius: var(--borderRadius);
}
.rRound {
	border-top-right-radius: var(--borderRadius);
	border-bottom-right-radius: var(--borderRadius);
}
.allRound {
	border-radius: var(--borderRadius);
}

.allRoundBig {
	border-radius: var(--borderRadiusBig);
}

.RightFloat {
	position: relative;
	left: 15%;
	transition: left var(--liquid) var(--liquidDuration);
	z-index: 0;
}
.RightFloat.More{
	left: 20%;
}
.RightFloat.More2{
	left: 25%;
}
.RightFloat.More3{
	left: 30%;
}

.FloatTrigger:hover .RightFloat, .RightFloat:hover,
.FloatTrigger:hover .RightFloat.To0, .RightFloat.To0:hover {
	left: 0%;
}
.FloatTrigger:hover .RightFloat.To5, .RightFloat.To5:hover {
	left: 5%;
}
.FloatTrigger:hover .RightFloat.ToPad, .RightFloat.ToPad:hover {
	left: var(--normalPadding);
}
.FloatTrigger:hover .RightFloat.ToUnitPad, .RightFloat.ToUnitPad:hover {
	left: var(--paddingUnit);
}


.liquidAll {
	transition: all var(--liquid) var(--liquidDuration);
}

.liquidColor {
	transition: color var(--liquid) var(--liquidDuration);
}
.snappyColor {
	transition: color var(--snappy) var(--snappyDuration);
}

.liquidPad {
	transition: padding var(--liquid) var(--liquidDuration);
}
.liquidOpacity {
	transition: opacity var(--liquid) var(--liquidDuration);
}

.abs {
	position: absolute;
}

.Container {
	overflow: hidden;
	/* position: relative; */
}

.Scrollable {
	overflow: auto;
}

.fg-white-fix a,
.fg-white-fix p,
.fg-white-fix h1,
.fg-white-fix h2,
.fg-white-fix h3,
.fg-white-fix h4,
.fg-white-fix h5,
.fg-white-fix h6 {
	color: white;
}

.fixed {
	position: fixed;
}

.glass {
	backdrop-filter: blur(var(--glassBlurradius)) saturate(400%);
	background-color: var(--glassColor);
}

.hoverZoom:hover {
	scale: 1.05;
}

.hoverZoomMore:hover {
	scale: 1.1
}

.hiddenButton:hover {
	background-color: var(--l1);
}

@media screen and (max-width: 730px) {
	:root {
		--paddingUnit: 20px;
	}

	.hGrid, .vhGrid {
		/* change to 5 column layout */
		grid-template-columns: var(--site-padding) 1fr 1fr 1fr 1fr 1fr var(--site-padding);
	}

	.s7,.s8,.s9,.s10,.s11,.s12.s13 {
		grid-column-start: unset;
	}
	.e7,.e8,.e9,.e10,.e11,.e12.e13 {
		grid-column-end: unset;
	}

	.navPad {
		padding-top: unset;
	}

	.ph-navPad {
		padding-top: var(--nav-height);
	}

	.ph-bNavPad {
		padding-bottom: var(--nav-height);
	}


	.ph-s0 {
		grid-column-start: 1;
	}

	.ph-s1 {
		grid-column-start: 2;
	}

	.ph-s2 {
		grid-column-start: 3;
	}

	.ph-s3 {
		grid-column-start: 4;
	}

	.ph-s4 {
		grid-column-start: 5;
	}

	.ph-s5 {
		grid-column-start: 6;
	}

	.ph-s6 {
		grid-column-start: 7;
	}

	.ph-e0 {
		grid-column-end: 2;
	}

	.ph-e1 {
		grid-column-end: 3;
	}

	.ph-e2 {
		grid-column-end: 4;
	}

	.ph-e3 {
		grid-column-end: 5;
	}

	.ph-e4 {
		grid-column-end: 6;
	}

	.ph-e5 {
		grid-column-end: 7;
	}

	.ph-e6 {
		grid-column-end: 8;
	}

	.ph-flex-vert {
		flex-direction: column;
	}

	.ph-PadResp {
		padding-top: var(--normalResponsivePadding);
		padding-bottom: var(--normalResponsivePadding);
		padding-left: var(--normalResponsivePadding);
		padding-right: var(--normalResponsivePadding);
	}

	.ph-tPadResp {
		padding-top: var(--normalResponsivePadding);
	}

	.ph-vPad {
		padding-top: var(--normalPadding);
		padding-bottom: var(--normalPadding);
	}
	.ph-hPad {
		padding-left: var(--normalPadding);
		padding-right: var(--normalPadding);
	}

	.ph-lPad {
		padding-left: var(--normalPadding);
	}

	.ph-rPad {
		padding-right: var(--normalPadding);
	}

	.ph-hUnitMarg {
		margin-left: var(--paddingUnit);
		margin-right: var(--paddingUnit);
	}

	.ph-allRoundBigResp {
		border-radius: var(--borderRadiusBigResponsive);
	}

	.vAltMarg {
		margin-top: unset;
		margin-bottom: unset;
	}

	.ph-v0Pad {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.ph-t0Pad {
		padding-top: 0px;
	}

	.ph-tUnitPad {
		padding-top: var(--paddingUnit);
	}
	.ph-bUnitPad {
		padding-bottom: var(--paddingUnit);
	}

	.ph-vUnitPad {
		padding-top: var(--paddingUnit);
		padding-bottom: var(--paddingUnit);
	}

	.ph-vCenter {
		align-self: center;
	}

	.ph-rGap {
		padding-right: var(--grid-gap);
	}

	.ph-hUnset {
		justify-self: unset;
	}

	.ph-hFill {
		width: 100%;
	}

	.ph-hCenter {
		justify-self: center;
	}
}